@charset "UTF-8";

body {
    background-color:#44e3ff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: #170458;
    background-color: rgba(19, 0, 104, 0.116);
}

h2 {
    color: rgb(255, 238, 0);
}

p {
    text-align: justify;
}